
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
}


.navbar {
    background-color: #4caf50;
}

.navbar-brand, .nav-link {
    color: #333 !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #4caf50 !important; /* Cambiamos el color al hacer hover */
}

/* Toggle button */
.navbar-toggler-icon {
    background-color: #333;
}

.carousel-caption {
    background-color: rgba(76, 175, 80, 0.7);
    color: #fff;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }

  .card-content {
    padding: 20px;
  }

  .card p {
    margin-bottom: 10px;
  }

  .card button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  @media screen and (max-width: 600px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }


@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #fff;
    }

    .navbar-toggler-icon {
        background-color: #333;
    }

    .carousel-caption {
        background-color: rgba(76, 175, 80, 0.9);
    }

    .card {
        width: 100%;
    }
}
