
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
}

/* navbar */
.navbar {
    background-color: #4caf50;
}

.navbar-brand, .nav-link {
    color: #333 !important;
}

.navbar-brand:hover, .nav-link:hover {
    color: #4caf50 !important; /* Cambiamos el color al hacer hover */
}

/* Carousel */
.navbar-toggler-icon {
    background-color: #333;
}

.carousel-caption {
    background-color: rgba(76, 175, 80, 0.7);
    color: #fff;
}

.custom-carousel {
  max-width: 800px; 
  margin: auto;
}

.custom-carousel {
  background-color: #fff8e1; 
}


.carousel-inner {
  width: 80%;
}

.carousel-item img {
  width: 80%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #f8e1a3; 
}



/*  cards */


.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 20px; /* Espacio entre las tarjetas */
}

.card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.card:hover {
  background-color: #4caf50; /* Cambia el color de fondo al hacer hover */
}

.card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.card-content {
  padding: 15px;
}

.card p {
  margin-bottom: 10px;
}

.card button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}


  @media screen and (max-width: 600px) {
    .card-container {
      grid-template-columns: 1fr;
    }
  }


@media (max-width: 768px) {
    .navbar-toggler {
        background-color: #fff;
    }

    .navbar-toggler-icon {
        background-color: #333;
    }

    .carousel-caption {
        background-color: rgba(76, 175, 80, 0.9);
    }

    .card {
        width: 100%;
    }
}
